<div>
  <button type="button" (click)="openForm()">Popup</button>
</div>
<div [@routerTransition]>
      <section class="container-fluid">
            <div class="card">
               <div class="card-body" style="padding: 0px">
                  <div class="card" >
                     <div class="card-body" style="padding: 0px">
                           Test
                     </div>
                  </div>
                        <table class="table table-striped table-responsive" style="width: 100%">
                              <thead>
                                <th>Picklist_Id</th>
                                <th>Location</th>
                                <th>Pickup Date</th>
                                <th>Create On</th>
                                <th>Created By</th>
                                <th>Criteria Attribute</th>
                                <th>Status</th>
                                <th>Progress</th>
                                <th>Invoice Submitted</th>
                                <th>ITEM_LOCATION</th>
                              </thead>
                              <tbody>
                              </tbody>
                        </table>
               </div>
            </div>
         </section>  
         

</div>
