<div class="sidebar skin-blue " style="margin-top: 50px">
      <ul class="sidebar-menu" >
         <li class="treeview">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" >
               <i class="fa fa-dashboard"></i>
               <!-- <span>{{ 'Dashboard' | translate }}</span> -->
            </a>
         </li>
         <li class="treeview">
               <a routerLink="/orderProcessing" [routerLinkActive]="['router-link-active']" >
                  <i class="fa fa-dashboard"></i>
                  <!-- <span>{{ 'Dashboard' | translate }}</span> -->
               </a>
            </li>
         <li>
            <a href="#"><i class="fa fa-indent"></i></a>
            <ul>
               <li style="width: 561px; margin-left: 5px"><label style="color: white; margin-left: 10px;margin-top: 5px">Master</label></li>
               <table style="background-color: blueviolet; width: 410px; margin-left: 4px;">
                  <tr>
                     <td style="width: 190px; background-color: #333;">
                  <tr>
                     <div class="container-fluid">
                        <div class="row">
                           <div style="display: flex">
                              <div  style="width: 150px; margin-left: 3px;">
                                 <label class="lablediv">Trading Partner</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Vendor Enquiry</a></div>
                                 <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>Customer Enquiry</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Transportor Enquiry</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Client Enquiry</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <label class="lablediv">Tax Management</label>
                                 <div class ="innerdiv" ><a href=""> <i class="fa fa-arrow-circle-right"></i>Tax Category</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Tax Code</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Tax Group</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Tax Zone</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Tax Application</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <label class="lablediv">SKU Management</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Enquiry</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Import</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Company Link</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Barcode</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage SKU Group</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Merchandising Hierarchy</a></div>
                                 <div style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Vendor SKU Catalog</a></div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div style="display: flex">
                              <div  style="width: 150px; margin-left: 3px;">
                                 <label class="lablediv">POS Setup</label>
                                 <div style="margin-top: -5px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage Coupons</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <label class="lablediv">Organization Management</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Location Enquiry</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Location Create/Edit</a></div>
                                 <div style="margin-top: -11px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage Store Group</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <label class="lablediv">Miscellaneous</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Other Masters</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Tally Configuration</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </tr>
                  </td>
                  </tr>
               </table>
            </ul>
         </li>
         <li>
            <a [routerLink]="['/wms']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-cubes"></i>
            <!-- <span>{{ 'WMS' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a href="#"><i class="fa fa-cubes"></i></a>
            <ul>
               <li style="width: 561px; margin-left: 5px"><label style="color: white; margin-left: 10px;margin-top: 5px">WMS</label></li>
               <table style="background-color: blueviolet; width: 410px; margin-left: 4px;">
                  <tr>
                     <td style="width: 190px; background-color: #333;">
                  <tr>
                     <div class="container-fluid">
                        <div class="row">
                           <div style="display: flex;height: 250px;">
                              <div  style="width: 185px; margin-left: 3px;">
                                 <label class="lablediv">Setup</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Zone</a></div>
                                 <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>Bin Enquiry</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Bin Create/Edit</a></div>
                                 <div class =""><a href=""> <i class="fa fa-arrow-circle-right"></i>Lottable Validation</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Receipt Validation</a></div>
                                 <div class ="" ><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Label Print</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>PutAway Rule Enquiry</a></div>
                              </div>
                              <div  style="width: 183px; margin-left: 3px;">
                                 <label class="lablediv">Order Processing</label>
                                 <div class ="innerdiv"><a [routerLink]="['/crises']" [routerLinkActive]="['router-link-active']"> <i class="fa fa-arrow-circle-right"></i>Order Allocation</a></div>
                                 <div ><a routerLink="../../../layout/wms/crises" routerLinkActive="active"> <i class="fa fa-arrow-circle-right"></i>Manage Manifest</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Delivery Shipping</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Bulk Order Shipment</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage Picklist</a></div>
                                 <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage Picking</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Delivery Split</a></div>
                              </div>
                              <div  style="width: 182px; margin-left: 3px; ">
                                 <div style="overflow-x: hidden; overflow-x: auto; text-align:justify;; height: 150px;">
                                       <label class="lablediv">Inventory</label>
                                       <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Inventory View</a></div>
                                       <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>Inventory Move History</a></div>
                                       <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Inventory Move</a></div>
                                       <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Inventory Move By Scan</a></div>
                                       <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Cycle Count</a></div>
                                       <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>BIN Audit</a></div>
                                       <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Stock Adjustment Enquiry</a></div>
                                       <div><a href=""> <i class="fa fa-arrow-circle-right"></i>OutBound GatePass</a></div>
                                       <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Outbound Memo Enquiry</a></div>
                                       <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Transaction History</a></div>
                                       <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>SKU Lot Transfer Enquiry</a></div>
                                 </div> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </tr>
                  </td>
                  </tr>
               </table>
            </ul>
         </li>
         <li>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <ul>
               <li style="width: 561px; margin-left: 5px"><label style="color: white; margin-left: 10px;margin-top: 5px">Procurement</label></li>
               <table style="background-color: blueviolet; width: 410px; margin-left: 4px;">
                  <tr>
                     <td style="width: 190px; background-color: #333;">
                  <tr>
                     <div class="container-fluid">
                        <div class="row">
                           <div style="display: flex">
                              <div  style="width: 150px; margin-left: 3px;">
                                 <label class="lablediv">PO Create/Edit</label>
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>Single Location</a></div>
                                 <div ><a href=""> <i class="fa fa-arrow-circle-right"></i>Multiple Location</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>From Back Orders</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <label class="lablediv">Vendor Invoice</label>
                                 <div class ="innerdiv" ><a href=""> <i class="fa fa-arrow-circle-right"></i>Vendor Invoice Enquiry</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Manage Vendor Invoice</a></div>
                              </div>
                              <div style="width: 200px; margin-left: 3px;">
                                 <!-- <label class="lablediv">SKU Management</label> -->
                                 <div class ="innerdiv"><a href=""> <i class="fa fa-arrow-circle-right"></i>PO Enquiry</a></div>
                                 <div><a href=""> <i class="fa fa-arrow-circle-right"></i>PO Revision</a></div>
                                 <div class ="innerdiv" style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Vendor Promotion Enquiry</a></div>
                                 <div>
                                    <label class="lablediv" style="margin-top: 20px">Setup</label>
                                    <div><a href=""> <i class="fa fa-arrow-circle-right"></i>Purchase Charge Masters</a></div>
                                    <div  style="margin-top: -13px"><a href=""> <i class="fa fa-arrow-circle-right"></i>Category Buyers</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </tr>
                  </td>
                  </tr>
               </table>
            </ul>
         </li>
         <li>
            <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']">
            <i class="fa  fa-bar-chart-o"></i>&nbsp;
            <!-- <span>{{ 'Charts' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a [routerLink]="['/orderProcessing']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-bar-chart-o"></i>&nbsp;
            <!-- <span>{{ 'Charts' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-table"></i>&nbsp;
            <!-- <span>{{ 'Tables' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']">
            <i class="fa  fa-edit"></i>&nbsp;
            <!-- <span>{{ 'Forms' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']">
            <i class="fa  fa-desktop"></i>&nbsp;
            <!-- <span>{{ 'Bootstrap Element' | translate }}</span> -->
            </a>
         </li>
         <li>
            <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']">
            <i class="fa  fa-wrench"></i>&nbsp;
            <!-- <span>{{ 'Bootstrap Grid' | translate }}</span> -->
            </a>
         </li>
         <li >
            <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-th-list"></i>&nbsp;
            <!-- <span>{{ 'Component' | translate }}</span> -->
            </a>
         </li>
         <li >
            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-file-o"></i>&nbsp;
            </a>
         </li>
      </ul>
   </div>