<section class="container-fliud">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-sm-12">
        <div class="row">
        <div class="col-md-3 col-sm-3">
          <table>
            <tr>
              <td align="right" width="25%">Etailor</td>&nbsp;
              <td valign="top" nowrap="" class="xpu">
                  <select style="width: 177px;" title="Please Select...">
                    <option value="" title="Please Select...">Please Select...</option>
                    <option value="0" title="94">Amazon Seller Flex</option>
                  </select>
                </td>
            </tr>
            <tr>
                <td align="right" width="25%">Publisher</td>&nbsp;
                <td> <input disabled="" class="x25" type="text"/></td>
            </tr>
            <tr>
                <td align="right" width="25%">Title</td>&nbsp;
                <td> <input  class="x25" type="text"/></td>
              </tr>
          </table>
        </div>
      
  
        <div class="col-md-3 col-sm-3">
          <table>
            <tr>
                <td align="right" width="25%">Location</td>&nbsp;
                <td valign="top" nowrap="" class="xpu">
                    <select style="width: 177px;" class="x2h" title="Please Select...">
                       <option value="" title="Please Select...">Please Select...</option>
                       <option value="0" title="XWAB">XWAB (Amazon SF)</option>
                       <option value="1" title="XNBW">XNBW (Amazon SF)</option>
                    </select>
                 </td>
            </tr>
            <tr>
                <td align="right" width="30%">Binding Type</td>&nbsp;
                <td valign="top" nowrap="" class="xpu">
                   <select style="width: 177px;" class="x2h" title="Select Binding Type">
                      <option value="" title="Select Binding Type">Select Binding Type</option>
                      <option value="0" title="Paperback">Paperback</option>
                      <option value="1" title="Hardback">Hardback</option>
                   </select>
                </td>
            </tr>
            <tr>
                <td align="right" width="25%">SKU</td>&nbsp;
                <td valign="top" nowrap="" class="xpu"><input class="x25" type="text"></td>
            </tr>
          </table>
        </div>
     
    
        <div class="col-md-3 col-sm-3">
          <table>
            <tr>
                <td align="right" width="25%">Aggregator</td>&nbsp;
                     <td valign="top" nowrap="" class="xpu">
                        <select id="pt1:r1:0:soc3::content" name="pt1:r1:0:soc3" style="width: 177px;" class="x2h" title="Please Select...">
                           <option value="" title="Please Select...">Please Select...</option>
                           <option value="0" title="1">Repro Knowledgecast Ltd</option>
                           <option value="1" title="2">Lightning Source Inc</option>
                           <option value="2" title="112">Ingram Wholesale PB</option>
                           <option value="3" title="129">Baker &amp; Taylor</option>
                           <option value="4" title="118">Bookazine Co Inc</option>
                           <option value="5" title="175">DIAMOND COMIC DISTRIBUTORS, INC.</option>
                           <option value="6" title="212">SHROFF PUBLISHERS &amp; DISTRIBUTORS PVT. LTD.</option>
                           <option value="7" title="156">RKCL SCHOOL</option>
                           <option value="8" title="188">OBI PUBLISHERS N DISTRIBUTORS PVT. LTD.</option>
                        </select>
                     </td>
            </tr>
            <tr>
                <td align="right" width="25%">ISBN</td>&nbsp;
                <td valign="top" nowrap="" class="xpu">
                   <input  class="x25" type="text"/>
            </tr>
            <tr>
                <td align="right" width="25%">Inventory Type</td>&nbsp;
                <td valign="top" nowrap="" class="xpu">
                   <select style="width: 177px;" class="x2h" title="All">
                      <option value="0" selected="" title="All">All</option>
                      <option value="1" title="Actual">Actual</option>
                      <option value="2" title="Virtual">Virtual</option>
                   </select>
                </td>
             </tr>
          </table>
        </div>
        <div class="col-md-3 col-sm-3">
          <table>
              <tr>
                  <td align="right" width="25%">Quantity</td>&nbsp;
                  <td valign="top" nowrap="" class="xpu">
                     <select style="width: 100px;" class="x2h">
                        <option value="" _adftmpopt="t" title=""></option>
                        <option value="0" title="Equals">Equals</option>
                        <option value="1" title="Between">Between</option>
                     </select>
                  </td>
               </tr>
                <tr>
                  <td><span class="x1u"><input style="text-align: right;width:auto;" class="x25" size="5" type="text" value="0"></span></td>
                </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-9"></div>
        <div class="col-md-4 col-sm-3">
            <table>
                <tbody>
                  <tr>
                    <td ><button  class="visearchtd" type="submit">Search</button></td>
                    <td><button  class="visearchtd" type="submit">Clear</button></td>
                    <td>
                        <select style="width: 177px;" title="Actions">
                           <option value="" title="Actions">Actions</option>
                           <option value="0" title="XWAB" href="#">Make Inbound</option>
                           <option value="1" title="XNBW">Make OutBound</option>
                           <option value="2" title="XNBW">Tagging</option>
                        </select>
                        
                     </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
  </div>
</div>
</div>
</section>
